.hamburgerIcon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburgerIcon span {
  width: 25px;
  height: 3px;
  background-color: var(--neutral-color);
  border-radius: 3px;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}